<h1 align="center">Show Employees</h1> <br/>

<div class="container">

    <table class="table table-bordered table-sm table-hover table-striped">

        <tbody>
            <tr *ngFor="let emp of employees" align="center">
                        <td> {{emp.empId                         }} </td>
                        <td> {{emp.empName | gender: emp.gender | uppercase }} </td>
                        <td> {{emp.salary  | currency: 'INR'     }} </td>
                        <td> {{emp.gender  | lowercase           }} </td>
                        <td> {{emp.country                       }} </td>
                        <td> {{emp.doj     | date: 'dd-MMM-yyyy' }} </td>
                        <td> {{emp.doj     | exp }} </td>
            </tr>
        </tbody>
        
    </table>

</div>
